.buttonContainer {
  align-items: center;

  .resetButton {
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #417498;

    &:hover {
      background-color: rgba(#417498, 0.8);
    }

    &:active {
      background-color: rgba(#417498, 0.5);
    }
  }
}

.selectAndCount {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .count {
    margin-left: 50px;
  }
}